@charset "utf-8";
/* CSS Document */
*, ::after, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  text-align: justify;
  font-weight: 600;
}

span {
  text-align: justify;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Zen Maru Gothic', serif;
  color: #171717;
  letter-spacing: 0.05em;
  font-size: 1.6rem;
  font-weight: 600;
  /* max-width: 1540px; */
  -webkit-font-smoothing: antialiased;
  background-color: #F3F1ED;
  line-height: 1.8;
  text-align: justify;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.header-logo {
  display: block;
  padding: 10px 5px;
}
header {
  position: absolute;
  left: 40px;
  padding-top: 50px;
}
.header-inner {
  width: 205px;
  border: 2px solid #343434;
  border-radius: 100px;
  padding: 55px 33px;
  font-size: 1.4rem;
  background-color: #fff;
}
.header-inner ul {
  overflow: hidden;
  padding-top: 30px;
}
.header-inner ul li a {
  display: block;
  padding: 15px 0;
  border-top: 2.5px dashed rgba(112, 112, 112, 1);
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.6rem;
}
.header-inner ul li a:hover {
  color: #FFEC61;
  transition: .3s;
}
.content-area {
  /* background: url("../img/bg.svg") no-repeat #f7f2e9; */
  padding : 270px 0 0 0 ;
  min-height: 100%;
  background-position: center top -50px;
  overflow: hidden;
  margin: 0 0 0 0;  
}
body .content_area {
	background-position: center top -80px;
	background-color: #fff;
	padding: 270px 0 0 0;
	transition: 0.8s cubic-bezier(0.68, -0.6, 0.32, 2.0);
}
body .content_area {
	background-position: center top -15px;
	background-color: #f7f2e9;
}
aside {
  position: absolute;
  right: 30px;
  top: 55px;
  line-height: 1.7;
}
aside .name-ja {
  letter-spacing: 0.1em;
  border-bottom: 1px dashed #707070;
  padding-bottom: 5.5px;
  font-size: 1.75rem;
}
aside .name-en {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin-top: 10px;
}
aside .name-en span {
  color: #14D6FF;
}
.content-inner {
  width: 100%;
  max-width: 1240px;
  padding: 0 80px;
  margin: 0 auto;
}

.lead {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  margin: 0 185px 100px;
}

.lead h2 {
  font-size: 4.4rem;
  margin-bottom: 50px;
  text-align: center;
}
.lead-text {
  width: 600px;
  height: 260px;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 20px;
}
.watasi {
  flex-direction: column;
}
.watasi h2 {
  font-size: 4.4rem;
  letter-spacing: 0.05px;
  text-align: center;
  margin-bottom: 30px;
}
.watasi .box {
  /* display: flex; */
  height: auto;
  padding: 40px 1% 70px;
  border-radius: 15px;
  margin-bottom: 100px;
}
.watasi .text-area {
  border: 2px dashed #343434;
  border-radius: 15px;
  padding: 30px 20px;
  margin: 0 15px;
  position: relative;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  box-shadow: 3px 2px 4px 0px #b2b0ad7d;
}
.watasi .text-area h3 {
  font-size: 2.0rem;
  letter-spacing: 0.1px;
  text-align: center;
}
.watasi .text-area span {
  display: block;
  margin-top: 30px;
  text-align: justify;
  font-weight: 600;
}
.guid {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 50px;
  white-space: nowrap;
  letter-spacing: 0.1em;
}
.link {
  width: 200px;
  height: 70px;
  background-color: rgb(20, 214, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(159, 159, 158) 4px 4px 0px 0px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(38, 127, 102) 2px 1px 0px;
  border-radius: 15px;
  margin: 0px auto;
}
.link:hover {
  background-color: #1198B4;
  transition: .3s
}
.link:active {
  box-shadow: none;
  transform: translateY(4px);
}


.link-a {
  font-weight: 600;
  background-image: url("../img/link.png");
  background-size: 17px auto;
  background-position: center bottom 13px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: .8s cubic-bezier(.88,-0.74,0,2.33);
  ;
  text-align: center;
	padding: 0 0 40px 0;
}
.box a:hover .link-a {
  background-position: center bottom 3px;
}
.sub-title {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.sub-title::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #FCF17E;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sub-title h3 {
  margin-left: 80px;
  font-size: 3rem;
  white-space: nowrap;
}
.sub-titlenumber {
font-size: 6rem;
    font-weight: 600;
    color: #3dc9a2;
    display: block;
    line-height: 1;
    letter-spacing: 0.1em;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
    left: 30px;
    transform: translate(-50%,-50%);
}

.layout {
  margin-bottom: 140px;
}
.layout-content {
  background-color: #fff;
  padding: 5rem;
  border-radius: 15px;
  text-align: center;
  margin-top: 100px;
  box-shadow: 3px 2px 4px 0px #b2b0ad7d;
  border: 2px dashed #343434;
}
.layout-text {
  text-align: start;
  display: flex;
  flex-direction: column;
}

footer {
  height: 400px;
  background-color: #fff;
  letter-spacing: 0.1px;
  padding: 90px 0 30px 60px;
  position: relative;
}
footer .name-ja {
    letter-spacing: 0.1em;
    border-bottom: 1px dashed #707070 ;
    padding-bottom: 5.5px; 
    font-size: 1.75rem;
    display: inline-block; 
}
footer .name-en {
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-time {
  margin-top: 20px;
  line-height: 1;
}
.footer-address {
  margin-top: 5px;
  line-height: 1;
}
.footer-tel {
  margin-top: 5px;
  line-height: 1;
} 
footer .copy {
  margin-top: 40px;
}
.scroll-top {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("../img/scroll.svg");
  background-size: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: 30px;
  right: 30px;
}
.scroll-top span {
  display: inline-block;
  padding: 20px 0;
  line-height: 0;
  transition: 0.4s cubic-bezier(.86,-0.57,.33,1.57);
}
.scroll-top img {
  width: 12px;
}
.scroll-top:hover span {
	padding-top:10px;
	padding-bottom: 12px;
}









/*画面幅960px以下の設定  1540に変更中*/
@media screen and (max-width: 1540px) {
  .content-area {
    background-position: center top 0px;
    padding-top: 200px; 
  }

  header {
    z-index: 9999;
    position: fixed;
    left: 30px;
    padding-top: 30px;
  }

  .header-inner {
    width: 0;
    border: none;
    background-color: transparent;
    z-index: 9999;
  }

  .lead {
    margin: 0px 0 100px;
  }
  aside {
    font-size: 1.2rem;
    top: 20px;
    right: 20px;
  }
  aside .name-ja {
    font-size: 1.3rem
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    background: #3DC9A2;
    padding-top: 60px; 
    display: block;
    height: 100%;
    overflow: auto;
    transform: translate(-100%,0);
    transition: transform 1s;
    text-align: center;
    position: fixed;
  }

  /* ハンバーガーメニュ―クリック後のメニューの動き */
  .menu.active{
  transform: translate(0,0);
}

  .menu ul {
    padding: 0;
  }

 .menu ul li a {
    font-size: 1.5rem;
    padding: 20px 20px;
    border-top: none;
  }

  /* ハンバーガーメニューの線 */
  .toggle span {
    width: 50%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease .3s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
    z-index: 9999;
  }

  .toggle span:nth-child(1) {
    top: 0;
  }

  .toggle span:nth-child(2) {
    margin: 8px 0;
  }

  .toggle span:nth-child(3) {
    top: 0;
  }

  .header__nav.active {
    transform: translateX(0);
  }
  /* ハンバーガーメニュ―クリック後の三本線の動き */
  .toggle.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }

  .toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .toggle.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
  .toggle {
    cursor: pointer;
  }
  .content-inner {
    padding: 0 20px;
  }

  .lead h1 {
    font-size: 3rem;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .flex-content {
    margin-bottom: 50px;
  }

  .flex-content p {
    display: none;
  }

  .layout-content {
    flex-direction: column;
    padding: 4rem;
  }

  .layout-img {
    padding: 60px 60px 30px 60px;
  }

  .sub-title {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .sub-title h3 {
    margin-left: 0;
  }

  .sub-title::before {
    width: 100%;
  }

  .sub-titlenumber {
    font-size: 4rem;
    position: static;
    transform: none;
  }

  .text-box {
    width: 90%;
  }

  .number {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .watasi .box {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0px;
  }

  .flex-box {
    margin-bottom: 30px;
  }

  .link {
    margin-right: 0;
    width: 150px;
    height: 60px;
  }

  .guid {
    font-size: 2.3rem;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    padding: 30px 20px 40px 20px;
  }
}